.bob::before{
    content: "";
    top: -50px;
    position: absolute;
    width: 101px;
    height: 120px;
    left: -120px;
    background: url("css-pr7.png") 0 0 ;
    display: block;

}
.alice::before{
    top: -50px;
    content: "";
    position: absolute;
    width: 101px;
    height: 120px;
    left: -120px;
    background:url("css-pr7.png") 0 120px;
    display: block;
}

.alice,.bob{
    display: inline-block;
    position: relative;
    margin: 100px auto;
    margin-left: 100px;
    border: 3px solid black;
    border-radius: 15px 50px 30px 5px;
}

.alice::after,.bob::after{
    content: "";
    position: absolute;
    width: 29px;
    height: 20px;
    left: -15px;
    top: 20px;
    background: url("png-transparent-cartoon-pop-up-dialog-dialog-clouds-cartoon-hand-painted-hand-painted-dialog.png");
}
.dialog{
    display: inline-flex;
    flex-direction: column;
}