#divSt {
    width: 200px;
    display: block;
    text-align: center;
}

#divMain{
    border:1px solid black;
    display: inline-flex;
    align-items: center;
}

#divDr{
    width: 200px;
    display: block;
}

#imgDivRight{
    max-width: 200px;
}
